
.transaction_div{
    position: absolute;
    top: 20rem;
    left: 30rem;
    /* background-color: rgb(88, 88, 136); */
    margin: auto;
}

.transaction{
    /* margin: auto; */
    font-size: 20px;
    background-color: rgba(255, 94, 0, 0.993);
    padding: 8px;
    outline: none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.transaction a{
    text-decoration: none;
    color: antiquewhite;
}